@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
}

::placeholder {
  color: rgba(0, 0, 0, 0.27);
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1c1c1c;
}

.center {
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  background-color: #6f2cff;
  color: #ffffff;
  font-size: 15px;
  border: 1px solid #6f2cff;
  padding: 9px 32px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.button:hover, .button:focus, .button:active {
  background-color: #ffffff;
  color: #6f2cff;
  border: 1px solid #6f2cff;
}

.email-form {
  font-size: 0;
  display: flex;
}

.email-form__input {
  flex: 1 1 268px;
  font-size: 15px;
  padding: 12px 12px 12px 26px;
  background: #ffffff;
  border: 1px solid #6f2cff;
  box-sizing: border-box;
  border-radius: 27.5px 0px 0px 27.5px;
}

.email-form__submit {
  flex-shrink: 1;
  font-size: 15px;
  color: #FFFFFF;
  padding: 13px 45px;
  background: #6f2cff;
  border-radius: 0px 27.5px 27.5px 0px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .email-form__input {
    padding: 12px 12px 12px 18px;
  }
  .email-form__submit {
    padding: 13px;
  }
}

@media (max-width: 354px) {
  .email-form {
    flex-direction: column;
    gap: 5px;
  }
  .email-form__input {
    flex: 0 0 auto;
    border-radius: 27.5px;
  }
  .email-form__submit {
    border-radius: 27.5px;
  }
}

.burger {
  position: relative;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.burger__line {
  display: block;
  background: #6f2cff;
  width: 26px;
  height: 3px;
  border-radius: 4px;
}

.burger__arrow {
  border-top: 4px solid #6f2cff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px 0;
  background-color: #ffffff;
}

.header__container {
  max-width: 1410px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header__button {
  margin-right: 38px;
}

.header__login {
  color: #1c1c1c;
  transition: all 0.3s ease;
}

.header__login:hover, .header__login:focus, .header__login:active {
  color: #6f2cff;
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 42px;
}

.menu__link {
  color: #1c1c1c;
  transition: all 0.3s ease;
}

.menu__link:hover, .menu__link:focus, .menu__link:active {
  color: #6f2cff;
}

.menu__burger {
  display: none;
}

@media (max-width: 1199px) {
  .menu__list {
    position: absolute;
    transform: translateY(-130%);
    flex-direction: column;
    top: 58px;
    z-index: 99;
    border: 4px solid #6f2cff;
    transition: all .7s ease;
  }
  .menu__list.active {
    transform: translateY(0);
  }
  .menu__item {
    background: #ffffff;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
    border-bottom: 1px dotted #ccc;
  }
  .menu__link {
    display: block;
    padding: 10px 50px 10px 20px;
  }
  .menu__burger {
    display: flex;
  }
  .menu__burger.active .burger__arrow {
    border-top: none;
    border-bottom: 4px solid #6f2cff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
}

@media (max-width: 480px) {
  .menu__list {
    width: 100%;
    left: 0;
    top: 48px;
  }
  .header__button {
    position: absolute;
    top: 60px;
    left: 15px;
    margin-right: 0;
  }
}

.intro {
  height: 100vh;
  background: url(../images/bg.jpg) no-repeat center center/cover;
}

.intro__container {
  height: 100%;
  max-width: 1240px;
  display: flex;
  align-items: center;
}

.intro__box {
  max-width: 470px;
}

.intro__subtext {
  font-size: 15px;
  margin-bottom: 19px;
}

.intro__title {
  font-size: calc( 34px + 20 * ((100vw - 320px) / 1120));
  margin-bottom: 30px;
}

.intro__title span {
  color: #6f2cff;
}

.intro__text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */